[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq.learntechnology.cloud
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=rabbitmq_app_password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target